@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.ant-pagination-item-active {
    background-color: #0084ff !important;
    color: white !important;
    border-color: #ffffff !important;
}

.ant-pagination-item-active a {
    color: white !important;
}

.ant-pagination-item a:hover {
    color: white !important;
}


.ant-pagination-next a,
.ant-pagination-prev a {
    color: white !important;
}

.ant-pagination-next a:hover,
.ant-pagination-prev a:hover {
    color: white !important;
}

.gradient-border {
    border: 2px;
    position: relative;
    z-index: 1;
}

.gradient-border::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to bottom, #1104f3, #0edef9 125%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    padding: 2px;
}

.gradient-border-1 {
    border: 1px;
    position: relative;
    z-index: 1;
}

.gradient-border-1::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to bottom, #4c7eff, #0fc0f8 125%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    padding: 2px;
}