// $font-family: "Arial", sans-serif;
$font-family: "Roboto", sans-serif;
$buttonColor: #051b8d;
$blackColor: #000;
$whiteColor: #fff;
$primaryColor: #222b5a;

$inputBorderColor: #ccc;
$validationColor: red;
